version: "3.9"

services:
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: sqlserver
    environment:
      SA_PASSWORD: "${SA_PASSWORD}"
      ACCEPT_EULA: "Y"
    ports:
      - "1433:1433"
    volumes:
      - sql_data:/var/opt/mssql
    networks:
      - backend
    healthcheck:
      test: ["CMD", "bash", "-c", "exec 3<>/dev/tcp/localhost/1433"]
      interval: 5s
      timeout: 3s
      retries: 10

  dataloader:
    build:
      context: ./data-loader
    container_name: dataloader
    depends_on:
      sqlserver:
        condition: service_healthy
    networks:
      - backend
    tty: true
    environment:
      SA_PASSWORD: "${SA_PASSWORD}"

  dotnet-api:
    build:
      context: ./api
    container_name: dotnet-api
    ports:
      - "8080:8080"
    volumes:
      - ./api:/app
    tty: true

volumes:
  sql_data:

networks:
  backend:
